body
{text-align: center;
font-family: Arial, Helvetica, sans-serif;
color: chocolate;

}

#cabecera{
    background: rgb(127, 128, 128);
    margin: 0;
    padding: 0.5em;
    font-weight: bold;
    color: lightgray;
}

#cabecera #tagline{
    font-weight: normal;
}

#container {
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #000;
    margin: 0 auto;
}

#container h1 {
    text-align: center;

}

